#initialQuickReplyMenu{
    width: 100%;
    position: relative;
    top: 88px;
}


.initialQuickReplyMenuHeaderTitle{
    margin-left: 22px;
    padding-top: 20px;
    font-family: roboto-bold-webfont;
}