// .offer-scroll {
//     display: flex;
//     flex-wrap: nowrap;
//     overflow-x: auto;
//     padding: 10px
// }

// .offer-card {
//     min-width: 300px;
//     max-width: 300px;
//     box-shadow: rgb(0 0 0 / 12%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 2px 4px 0px;
//     transition: 0.3s;
//     border-radius: 5px;
//     display: flex;
//     flex-flow: column wrap;
//     margin-left: 10px;
//     justify-content: space-between;
// }

// .offer-card:hover {
//     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
// }

// .offer-code {
//     display: flex;
//     flex-direction: row;
// }

// .promo-code {
//     padding: 5px;
//     margin: 5px;
//     background-color: rgb(238, 244, 254);
//     font-weight: 400;
// }

// .offer-title {
//     padding-top: 10px;
//     margin-left: 5px;
// }

// .offer-description {
//     font-size: small;
//     padding: 10px;
// }

// .offer-footer {
//     position: relative;
//     bottom: 0px;
//     background-color: rgb(238, 244, 254);
//     height: 2rem;
//     display: flex;
//     justify-content: space-between;
// }

// .offer-tnc {
//     color: rgb(0, 102, 167);
//     margin: 5px 0 0 5px;
// }

// .offer-avail {
//     color: rgb(102, 166, 22);
//     margin: 5px 5px 0 0;
// }

// .ow {
//     overflow-wrap: break-word;
//     word-wrap: break-word;
//     hyphens: auto;
// }

.chat-offer-wrapper{
    padding:20px;
  }
  .chat-offer-scroll{
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
  }
  
  .chat-offer-card{
    padding-left:12px;
    padding-top:20px;
    padding-right:12px;
    border: 0.5px solid #dddddd;
    border-radius: 8px;
    position:relative;
    height:110px;
    min-width:300px;
    overflow-x:scroll;
    background: linear-gradient(180deg, #c66002 0%, #d67a15 100%);
    color:white;
    margin-right:20px;
  }
  .chat-offer-corner-image{
    width: 55px;
    height: 47px;
    line-height: 32px;
    right: 0px;
    top: 0px;
    position: absolute;
    background: #fff;
    border: 0.5px solid #dddddd;
    border-radius: 0 8px 0 6px;
    padding-bottom: 1px;
  }
  .chat-offer-corner-image img{
    height: 50px;
    width: 54px;
    position: absolute;
    border-radius: 0 8px 0 6px;
  }
  
  .chat-offer-title{
    font-size:20px;
    font-weight:bold;
    
  }
  
  .chat-offer-body-description{
    text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box !important;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      white-space: normal;
      font-size:12px;
  }
  
  
  .chat-offer-wrapper .chat-offer-card:nth-child(7n + 1) {
    background: linear-gradient(180deg, #d42417 0%, #911e16 100%);
  }
  .chat-offer-wrapper .chat-offer-card:nth-child(7n + 2) {
    background: linear-gradient(180deg, #0050ae 0%, #1879d2 100%);
  }
  .chat-offer-wrapper .chat-offer-card:nth-child(7n + 3) {
    background: linear-gradient(180deg, #c66002 0%, #d67a15 100%);
  }
  .chat-offer-wrapper .chat-offer-card:nth-child(7n + 4) {
    background: linear-gradient(180deg, #a73070 0%, #d2609e 100%);
  }
  .chat-offer-wrapper .chat-offer-card:nth-child(7n + 5) {
    background: linear-gradient(180deg, #0c7724 0%, #37ab51 100%);
  }
  .chat-offer-wrapper .chat-offer-card:nth-child(7n + 6) {
    background: linear-gradient(180deg, #3b3097 0%, #5f56ae 100%);
  }
  .chat-offer-wrapper .chat-offer-card:nth-child(7n + 7) {
    background: linear-gradient(180deg, #75371d 0%, #9c5233 100%);
  }