#appContainer-initial{
    max-width: 500px;
    height: 100%;
    max-height: 650px;
    min-width: 360px;
    font-family: roboto-regular-webfont;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    background: #fff;
}