.product-quality-accordion-checkbox-buttons {
    display: none;
  }
  
  .product-quality-accordion-item-btn {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  #product-quality-submit-btn {
    // margin-top: 20px;
    // margin-bottom: 20px;
    // margin-left: 20px;
  }